<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Monstros</h1>
    <ul>
        {% for Monstros in Monstros %}
            <li><h3><a href="{% url 'update_monster' Monstros.id %}">{{Monstros.nome}}</a></h3>
                <p>Tendência: {{Monstros.tendencia}}.</p>
                <p>Nível de dificuldade:{{Monstros.dificuldade}}</p>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'new_monster' %}">Novo Monstro</a>

    
</body>
</html>